name: MLflow CI-CD

on:
  push:
    branches:
      - main

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: 1. Checkout Repository
      uses: actions/checkout@v4

    - name: 2. Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9

    - name: 3. Install Conda dan MLflow
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: 3.9
        environment-file: MLProject/conda.yaml
    
    - name: 4.  Run MLflow Project (Training)
      id: train
      shell: bash -l {0} 
      run: |
        # Aktifkan env
        source activate mlflow-env
        
        # Jalankan training dan tangkap outputnya
        # Output dari 'mlflow run' akan disimpan di variabel $OUTPUT
        OUTPUT=$(mlflow run ./MLProject)
        
        # Cetak output untuk debugging
        echo "$OUTPUT"
        
        # Ambil RUN_ID yang kita cetak di modelling.py
        RUN_ID=$(echo "$OUTPUT" | grep 'MLFLOW_RUN_ID=' | cut -d'=' -f2)
        
        # Ekspor RUN_ID agar bisa dipakai di langkah selanjutnya
        echo "run_id=$RUN_ID" >> $GITHUB_OUTPUT

    - name: 5. Upload Artifacts (Model)
      uses: actions/upload-artifact@v4
      with:
        name: ml-model-artifacts 
        path: ./MLProject/mlruns 

    - name: 6. Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: 7. Build Docker Image with MLflow
      shell: bash -l {0}
      run: |
        # Aktifkan env lagi
        source activate mlflow-env
        
        # Ambil RUN_ID dari langkah 'train'
        RUN_ID=${{ steps.train.outputs.run_id }}
        
        # Bangun image menggunakan 'mlflow models build-docker'
        # Ini akan mengambil model dari folder mlruns lokal
        # Ganti 'nama-image-anda' dengan nama image di Docker Hub
        mlflow models build-docker \
          --model-uri "runs:/$RUN_ID/model" \
          --name "${{ secrets.DOCKERHUB_USERNAME }}/model-gym-ci:latest" \
          --env-manager=local
          
    - name: 8. (ADVANCED) Push Docker Image to Docker Hub
      run: |
        # Push image yang sudah di-build
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/model-gym-ci:latest