name: CI Pipeline (MLProject + Docker)

on:
  push:
    branches:
      - main
    paths:
      - 'MLProject/**'
  workflow_dispatch:

jobs:
  run-mlproject-and-build-docker:
    runs-on: ubuntu-latest

    steps:
    
    - name: 1. Checkout repository
      uses: actions/checkout@v4

    - name: 2. Setup Python and Conda
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - name: Setup Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: True
        python-version: 3.12

    - name: 3. Install MLflow
      run: |
        pip install --upgrade pip
        pip install "setuptools<68" mlflow==2.9.2

    - name: 4. Run MLflow Project (Training)
      shell: bash -l {0}
      run: |
        mlflow run MLProject/ \
         -P n_estimators=150 \
         -P max_depth=10

    - name: 5. Upload MLflow 'mlruns' artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlruns-artifact
        path: mlruns/

    - name: 6. Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: 7. Build and Push Docker Image
      env:
        DOCKER_IMAGE_NAME: firecrown/model-gym-ci
      run: |
        mlflow build-docker \
          --model-uri MLProject/ \
          --image-name $DOCKER_IMAGE_NAME:latest \
          --push
